<launch>

  <arg name="name" default="EKF_Map"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="$(arg name)" clear_params="true">
    
    <remap from="cmd_vel" to="ackermann_controller/cmd_vel"/> <!-- This might not be working correctly -->
    <remap from="odometry/filtered" to="$(arg name)/odometry/filtered"/>
    <remap from="accel/filtered" to="$(arg name)/accel/filtered"/>

  </node>

</launch>