<!--
	This launch file handles the launching of 4 packages for little pig;
		mavros -> launch file within nav pkg
		robot_localization -> brocken and won't launch fron nav pkg
		rplidar -> launch file within nav pkg
		gmapping -> launch file within nav pkg
-->

<launch>

	<!-- Launches gmapping instance, only necessary in learning -->
	<!-- <include file="$(find little_pig_navigation)/launch/gmapping.launch" /> -->

	<!-- Launches robot localization instance 1 -->
	<include file="$(find little_pig_navigation)/launch/ekf_1.launch" />
	
	<!-- Launches robot localization instance 2 including navsat corrections -->
	<!-- <include file="$(find little_pig_navigation)/launch/ekf_2.launch" /> -->

	<!-- Launches navsat Transform instance -->
	<!-- <include file="$(find little_pig_navigation)/launch/navsat.launch" /> -->
</launch>
