<!--
	This launch file handles the launching of 4 packages for little pig;
		mavros -> launch file within nav pkg
		robot_localization -> brocken and won't launch fron nav pkg
		rplidar -> launch file within nav pkg
		gmapping -> launch file within nav pkg
-->

<launch>
	<!--<node pkg="tf" type="static_transform_publisher" name="odom_to_map"
    	args="0.1 0  0  -1.570796327 0 -1.570796327  /map /odom 100" /> -->

	<include file="$(find little_pig_navigation)/launch/mavros.launch" />
	<include file="$(find little_pig_navigation)/launch/ekf_template.launch" />
	<include file="$(find little_pig_navigation)/launch/lidar.launch" />

  <launch>
    <include ns="lidar0" file="$(find little_pig_navigation)/launch/lidar.launch">
        <arg name="serial_port" value="/dev/ttyUSB0"/>
    </include>
    <include ns="lidar1" file="$(find little_pig_navigation)/launch/lidar.launch">
        <arg name="serial_port" value="/dev/ttyUSB1"/>
    </include>
  </launch>

	<include file="$(find little_pig_navigation)/launch/gmapping.launch" />
</launch>
