<launch>

    <arg name="name" default="navsat"/>

    <node pkg="robot_localization" type="navsat_transform_node" name="$(arg name)" respawn="false">
        <!-- <param name="frequency" value="30"/>
        <param name="delay" value="3"/>

        <param name="magnetic_declination_radius" value="0"/>

        <param name="zero_altitude" value="true"/>
        <param name="yaw_offset" value="1.57"/>
        <param name="broadcast_utm_transform" value="true"/>
        <param name="broadcast_utm_transform_as_parent_frame" value="false"/>
        <param name="publish_filtered_gps" value="true"/>
        <param name="use_odometry_yaw" value="true"/>

        <param name="datum" value="[37.634047,-97.269368,0.0,map,base_link]"/> --> 
        
        <remap from="imu/data" to="/IMU/data"/>
        <remap from="gps/fix" to="/GPS/fix"/>
        <remap from="odometry/filtered" to="/EKF_Map/odometry/filtered"/>
        <remap from="odometry/gps" to="$(arg name)/odometry/filtered"/>
        <remap from="gps/filtered" to="$(arg name)/gps/filtered"/>

    </node>
</launch>